body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(194, 136, 61);
    width: 97vw;
    height: 95vh;
}

#loginpage{
   display: flex;
   justify-content: center;
   align-items: center;
}


#container{
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 40%;
}

#container input{
    width: 15vw;
    text-align: center;
    border-radius: 10px;
}

#container button{
    width: 5vw;
    text-align: center;
    border-radius: 5px;
}